* {
    padding: 0;
    margin: 0;
}

:root {
    --light-color: #f6edfa;
    --dark-color: #800080;
}

span {
    color: var(--dark-color);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
    margin: 20px;
}

h3 {
    font-size: 30px;
    margin: 10px;
}

p {
    font-size: 20px;
}

ul, ol {
    margin: 10px;
    margin-left: 25px;
    font-size: 18px;
}

code {
    font-size: 18px;
    color: #696969;
}

code pre {
    padding: 5px;
    margin: 10px;
}

header, main, footer {
    padding: 10px;
}

header, footer {
    text-align: center;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 95%;
    margin: auto;
}

footer p {
    font-size: 18px;
}